@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --primary-color: hsl(25, 97%, 53%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(217, 12%, 63%);
  --color-medium-grey: hsl(216, 12%, 30%);
  --color-dark-blue: hsl(213, 19%, 18%);
  --color-very-dark-blue: hsl(216, 12%, 8%);
  --primary-font: "Overpass", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font);
  font-size: 0.9375rem;
  background-color: var(--color-very-dark-blue);
  color: var(--color-light-grey);
}

button {
  border: none;
  background-color: transparent;
  font-family: var(--primary-font);
  font-size: inherit;
}

input {
  border: none;
}

input[type="radio"][name="rating"] {
  display: none;
}

input[type="radio"][name="rating"]:checked + label {
  background-color: var(--primary-color);
}

img {
  max-width: 100%;
  display: block;
}

.align-text-center {
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Display initial card state */
.card__content-start {
  display: block;
}

.card {
  width: 85%;
  max-width: 400px;
  background-color: var(--color-dark-blue);
  padding: 2em;
  border-radius: 10px;
}

.card__title {
  color: var(--color-white);
  margin-top: 2rem;
}

.card__text {
  margin-top: 0.5rem;
}

.card__rating-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.circle {
  background-color: var(--color-medium-grey);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__rating-btn {
  color: var(--color-light-grey);
}

.card__rating-btn:hover {
  background-color: var(--color-light-grey);
  color: var(--color-white);
  cursor: pointer;
}

.card__rating-btn--selected {
  background-color: var(--primary-color);
  color: var(--color-white);
}

.card__submit {
  width: 100%;
  color: var(--color-white);
  background-color: var(--primary-color);
  padding: 0.5em 0;
  border-radius: 100px;
  margin-top: 2rem;
  text-transform: uppercase;
}

.card__submit:hover {
  background-color: var(--color-white);
  color: var(--primary-color);
}

/* CARD FINISH STATE RULES */

.card__content-finish {
  display: none;
  flex-direction: column;
  align-items: center;
}

.card__content-finish--image {
  width: 60%;
  margin-top: 1rem;
}

.card__rating-selection {
  color: var(--primary-color);
  background-color: var(--color-medium-grey);
  padding: 0.27em 1em 0.25em;
  border-radius: 30px;
  margin-top: 2.5rem;
}

.reset {
  background-color: var(--color-medium-grey);
  color: var(--color-light-grey);
  margin-top: 2rem;
  padding: 0.5em 3em;
  border-radius: 100px;
}

.reset:hover,
.reset:focus {
  background-color: var(--primary-color);
  color: var(--color-white);
  cursor: pointer;
}

.reset:active {
  background-color: var(--color-light-grey);
  color: var(--color-white);
  cursor: pointer;
}
