@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --primary-color: hsl(25, 97%, 53%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grey: hsl(217, 12%, 63%);
  --color-medium-grey: hsl(216, 12%, 30%);
  --color-dark-blue: hsl(213, 19%, 18%);
  --color-very-dark-blue: hsl(216, 12%, 8%);
  --primary-font: "Overpass", sans-serif;
}

html {
  font-size: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: var(--primary-font);
  background-color: var(--color-very-dark-blue);
  color: var(--color-light-grey);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  background-color: transparent;
  font-family: var(--primary-font);
  font-size: inherit;
}

fieldset {
  border: none;
}

input {
  border: none;
}

input[type="radio"][name="rating"] {
  display: none;
}

input[type="radio"][name="rating"]:checked + label {
  background-color: var(--primary-color);
  color: var(--color-white);
}

img {
  max-width: 100%;
  display: block;
}

.align-text-center {
  text-align: center;
}

/* Display initial card state */
.card__content-start {
  display: block;
}

.card {
  width: 90%;
  max-width: 27rem;
  background-color: var(--color-dark-blue);
  margin: auto;
  padding: 2.2em;
  border-radius: 10px;
}

.card__star-icon {
  margin: 0 0 0.1rem 0.1rem;
}

.card__title {
  color: var(--color-white);
  margin-top: 2rem;
}

.card__text {
  margin-top: 0.5rem;
}

.card__rating-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.circle {
  background-color: var(--color-medium-grey);
  width: 2.8rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

.card__rating-btn {
  color: var(--color-light-grey);
  line-height: 1;
  margin-top: 0.2rem;
}

.card__rating-btn:hover {
  background-color: var(--color-light-grey);
  color: var(--color-white);
  cursor: pointer;
}

.card__rating-btn--selected {
  background-color: var(--primary-color);
  color: var(--color-white);
}

.card__submit {
  width: 100%;
  color: var(--color-white);
  background-color: var(--primary-color);
  padding: 1em 0 0.8em;
  border-radius: 6.7rem;
  margin-top: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
}

.card__submit:hover {
  background-color: var(--color-white);
  color: var(--primary-color);
}

.error-message {
  display: none;
  margin-top: 0.5rem;
  color: red;
}

/* CARD FINISH STATE  */

.card__content-finish {
  display: none;
  flex-direction: column;
  align-items: center;
}

.card__content-finish--image {
  width: 60%;
  margin-top: 1rem;
}

.card__rating-selection {
  color: var(--primary-color);
  background-color: var(--color-medium-grey);
  padding: 0.7em 1.2em 0.5em;
  border-radius: 30px;
  margin-top: 2.5rem;
  line-height: 1;
}

.reset {
  background-color: var(--color-medium-grey);
  color: var(--color-light-grey);
  margin-top: 2rem;
  padding: 0.5em 3em;
  border-radius: 100px;
}

.reset:hover,
.reset:focus {
  background-color: var(--primary-color);
  color: var(--color-white);
  cursor: pointer;
}

.reset:active {
  background-color: var(--color-light-grey);
  color: var(--color-white);
  cursor: pointer;
}
