html {
  font-size: 15px;
}

body {
  min-height: 100vh;
  font-family: var(--primary-font);
  background-color: var(--color-very-dark-blue);
  color: var(--color-light-grey);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

h2 {
  line-height: 1;
}

button {
  border: none;
  background-color: transparent;
  font-family: var(--primary-font);
  font-size: inherit;
}

fieldset {
  border: none;
}

input {
  border: none;
}

input[type="radio"][name="rating"] {
  display: none;
}

input[type="radio"][name="rating"]:checked + label {
  background-color: var(--primary-color);
  color: var(--color-white);
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: var(--color-light-grey);
}

a:hover {
  color: var(--color-white);
}

.attribution {
  margin-top: 2rem;
}
