.card {
  width: 90%;
  max-width: 27rem;
  background-color: var(--color-dark-blue);
  margin: auto;
  padding: 2em 1.5em 2.2em;
  border-radius: 10px;

  /* Display initial card state */
  &__start {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__star-icon {
    margin-bottom: 0.1rem;
  }

  &__title {
    color: var(--color-white);
  }

  &__rating-buttons {
    display: flex;
    justify-content: space-between;
  }

  &__rating-number {
    color: var(--color-light-grey);
    line-height: 1;
    padding: 0.7em 1.2em 0.5em;
  }

  &__rating-number:hover {
    background-color: var(--color-light-grey);
    color: var(--color-white);
    cursor: pointer;
  }

  &__rating-number--selected {
    background-color: var(--primary-color);
    color: var(--color-white);
  }

  &__submit-btn-container {
    position: relative;
  }

  &__error-message {
    display: none;
    position: absolute;
    top: 10%;
    left: 2%;
    color: var(--primary-color);
  }

  &__btn-submit {
    width: 100%;
    padding: 1em 0 0.8em;
    margin-top: 1.5rem;
  }

  /* CARD FINISH STATE  */

  &__finish {
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__finish-image {
    width: 50%;
  }

  &__rating-selection {
    color: var(--primary-color);
    background-color: var(--color-mid-blue);
    padding: 0.7em 1.2em 0.5em;
    border-radius: 30px;
    line-height: 1;
    margin-top: 0.5rem;
  }

  &__title-thanks {
    margin-top: 0.5rem;
  }

  &__text-thanks {
    text-align: center;
  }

  &__reset-btn {
    visibility: hidden;
    font-size: 0.8rem;
    padding: 0.5em 1em 0.3em;
    margin: 0 5% 1rem auto;
    display: block;
  }
}
